body {
    background-color: white;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans';
}

div {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 70px;
}

.isfib {
    background-image: linear-gradient(skyblue 33%, white 33%, white 66.66%, skyblue 66.66%);
    border: brown;
    border: 1px solid black;
    color: skyblue;
    background-color: rgb(28, 180, 91);
}

.notfib {
    color: white;
    border: brown;
    border: 1px solid black;
    background-color: white;
}