body {
    background-color: white;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans';
}

#fib {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.isfib {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(skyblue 33%, white 33%, white 66.66%, skyblue 66.66%);
    border: 1px solid black;
    color: skyblue;
}

.notfib {
    width: 100px;
    height: 100px;
    color: white;
    border: 1px solid black;
    background-color: white;
}